input_boolean:
  bathroom_door_activity:
    initial: off
    name: Badeværelse Dør Aktivitet
  showering:
    name: Bruser

template:
  - binary_sensor:
      - default_entity_id: binary_sensor.bathroom_door_activity
        name: Badeværelse Dør Aktivitet
        unique_id: 019b0412-edbe-75fa-953e-85ba9d203d90
        device_class: motion
        delay_off: 0:00:30
        state: "{{ is_state('input_boolean.bathroom_door_activity', 'on') }}"
      - default_entity_id: binary_sensor.bathroom_occupied
        name: Badeværelse Optaget
        unique_id: 019b0413-faa0-73f5-8f82-790a9191e229
        device_class: occupancy
        state: "{{ is_state('binary_sensor.badevarelse_dor', 'off') and is_state('binary_sensor.badevarelse_las', 'off') }}"

automation:
  - alias: bathroom_door_activity_on
    id: e7500347-c170-40a2-a12b-9228a83bd56a
    initial_state: true
    triggers:
      - trigger: state
        entity_id: binary_sensor.badevarelse_dor
        to:
          - "on"
          - "off"
        not_from:
          - "unavailable"
          - "unknown"
    actions:
      - action: input_boolean.turn_on
        data:
          entity_id: input_boolean.bathroom_door_activity

  - alias: bathroom_door_activity_off
    id: 21421df7-95cf-4e18-823f-b1c9dc88d03a
    initial_state: true
    triggers:
      - trigger: state
        entity_id: input_boolean.bathroom_door_activity
        to:
          - "on"
          - "off"
        for:
          seconds: 5
    actions:
      - action: input_boolean.turn_off
        data:
          entity_id: input_boolean.bathroom_door_activity
