input_boolean:
  bedroom_door_activity:
    initial: off
    name: Soveværelse Dør Aktivitet

switch:
  - platform: template
    switches:
      bedroom_curtain_automations:
        friendly_name: Soveværelse Gardiner Automatisering
        icon_template: "{{ state_attr('binary_sensor.bedroom_curtains_auto_open', 'icon') | default('mdi:curtains-closed') }}"
        value_template: "{{ is_state('automation.sovevaerelse_gardiner_automatisering', 'on') }}"
        turn_on:
          - action: automation.turn_on
            target:
              entity_id:
                - automation.sovevaerelse_gardiner_automatisering
          - action: automation.trigger
            target:
              entity_id:
                - automation.sovevaerelse_gardiner_automatisering
        turn_off:
          action: automation.turn_off
          target:
            entity_id:
              - automation.sovevaerelse_gardiner_automatisering

binary_sensor:
  - platform: template
    sensors:
      bedroom_door_activity:
        friendly_name: Soveværelse Dør Aktivitet
        device_class: motion
        delay_off:
          seconds: 30
        value_template: "{{ is_state('input_boolean.bedroom_door_activity', 'on') }}"

template:
  - binary_sensor:
      - name: "Bedroom Curtains Auto Open"
        unique_id: 6dcf6972-b850-42d8-b4b0-07428dfef76b
        device_class: opening
        state: >-
          {% set BRIGHT_PREOPEN = 50 %}  {# allow pre-dawn opening if it's bright enough #}
          {% set daylight = is_state('binary_sensor.daylight','on') %}
          {% set sun_up   = is_state('sun.sun','above_horizon') %}
          {% set bright   = states('sensor.average_office_balcony_brightness')|float(0) > BRIGHT_PREOPEN %}
          {% set awake    = is_state('input_select.sleep_state','awake') %}
          {{ awake and (daylight or (not sun_up and bright)) }}
        attributes:
          icon: >-
            {{
              'mdi:curtains' if is_state('binary_sensor.bedroom_curtains_auto_open', 'on')
              else 'mdi:curtains-closed'
            }}

automation:
  - alias: Soveværelse Gardiner Automatisering
    id: 21deeaa0-0cb8-44eb-95e5-ebc3ab3223bd
    mode: single
    triggers:
      - trigger: state
        entity_id: binary_sensor.bedroom_curtains_auto_open
        to: "on"
        for: "00:02:00"
      - trigger: state
        entity_id: binary_sensor.bedroom_curtains_auto_open
        to: "off"
        for: "00:02:00"
    actions:
      - action: >-
          {% set open = states('binary_sensor.bedroom_curtains_auto_open') %}
          {% if open == 'on' %}
            cover.open_cover
          {% elif open == 'off' %}
            cover.close_cover
          {% endif %}
        target:
          entity_id:
            - cover.sovevaerelse_gardin
      - delay: "00:02:00"

  - id: bedroom_balcony_door_open_reminder
    alias: bedroom_balcony_door_open_reminder
    triggers:
      - trigger: state
        entity_id: sensor.bedroom_activity_state
        to: "off"
        for:
          minutes: 15
    conditions:
      - alias: "Balcony door open"
        condition: state
        entity_id: binary_sensor.sovevarelse_altandor
        state: "on"
      - alias: "Outside temp below 18"
        condition: numeric_state
        entity_id: sensor.kontor_altan_temperatur
        below: 18
    actions:
      - action: script.notify_everywhere
        data:
          message: Soveværelse altandør står åben!

  - alias: bedroom_door_activity_on
    id: 2506073c-4190-4ed1-bcd8-55c4a2c9fe5e
    initial_state: true
    triggers:
      - trigger: state
        entity_id: binary_sensor.sovevarelse_dor
        to: "on"
    actions:
      - action: input_boolean.turn_on
        data:
          entity_id: input_boolean.bedroom_door_activity

  - alias: bedroom_door_activity_off
    id: 53b497b2-5f12-44b9-bfae-13f17845296f
    initial_state: true
    triggers:
      - trigger: state
        entity_id: input_boolean.bedroom_door_activity
        to: "on"
        for:
          seconds: 5
    actions:
      - action: input_boolean.turn_off
        data:
          entity_id: input_boolean.bedroom_door_activity
