automation:
  - id: doorbell_notification
    alias: Doorbell Notification
    mode: single
    triggers:
      - trigger: state
        entity_id: binary_sensor.dorklokke_knap
        from: "off"
        to: "on"
    actions:
      - parallel:
          - action: script.notify_everywhere
            data:
              message: "Ding dong!"
