automation:
  - id: doorbell_notification
    alias: Doorbell Notification
    mode: single
    triggers:
      - trigger: state
        entity_id: binary_sensor.dorklokke_knap
        from: "off"
        to: "on"
    actions:
      - parallel:
        - action: notify.send_message
          target:
            entity_id: notify.telegram_bot_rook
          data:
            message: "Ding dong!"
        - action: script.popup_notification
          data:
            message: "Ding dong!"
