input_boolean:
  living_room_balcony_door_activity:
    initial: off
    name: Stue Altan Dør Aktivitet

template:
  - binary_sensor:
      - default_entity_id: binary_sensor.living_room_balcony_door_activity
        name: Stue Altan Dør Aktivitet
        unique_id: 019b0415-9bcf-77c9-8dc4-d6ba630f77e1
        device_class: motion
        delay_off: 0:00:30
        state: "{{ is_state('input_boolean.living_room_balcony_door_activity', 'on') }}"

automation:
  - alias: living_room_balcony_door_activity_on
    id: a9ab798e-6086-4054-b31f-9430bbc860b0
    initial_state: true
    triggers:
      - trigger: state
        entity_id: binary_sensor.stue_altandor
        to: "on"
    actions:
      - action: input_boolean.turn_on
        data:
          entity_id: input_boolean.living_room_balcony_door_activity

  - alias: living_room_balcony_door_activity_off
    id: f2716cf8-226a-408c-b7ef-8ff6ffdda3f5
    initial_state: true
    triggers:
      - trigger: state
        entity_id: input_boolean.living_room_balcony_door_activity
        to: "on"
        for:
          seconds: 5
    actions:
      - action: input_boolean.turn_off
        data:
          entity_id: input_boolean.living_room_balcony_door_activity
