input_boolean:
  workshop_door_activity:
    initial: off
    name: Værksted Dør Aktivitet

template:
  - binary_sensor:
      - default_entity_id: binary_sensor.workshop_door_activity
        name: Værksted Dør Aktivitet
        unique_id: 019b0416-a205-733b-a4ca-8a66f12d18f9
        device_class: motion
        delay_off: 0:00:30
        state: "{{ is_state('input_boolean.workshop_door_activity', 'on') }}"

automation:
  - alias: workshop_door_activity_on
    id: 2569ea62-ac9f-4ba8-9e18-13a914f9e180
    initial_state: true
    triggers:
      - trigger: state
        entity_id: binary_sensor.varksted_dor
        to:
          - "on"
          - "off"
        not_from:
          - "unavailable"
          - "unknown"
    actions:
      - action: input_boolean.turn_on
        data:
          entity_id: input_boolean.workshop_door_activity

  - alias: workshop_door_activity_off
    id: 0af8945b-8abc-4cca-88fd-a168c64bcc37
    initial_state: true
    triggers:
      - trigger: state
        entity_id: input_boolean.workshop_door_activity
        to: "on"
        for:
          seconds: 5
    actions:
      - action: input_boolean.turn_off
        data:
          entity_id: input_boolean.workshop_door_activity

  - alias: workshop_desk_power_reminder
    id: b51a8636-e588-400d-b894-1be7ed7bf265
    initial_state: true
    triggers:
      - trigger: state
        entity_id: binary_sensor.workshop_activity
        to: "off"
        for:
          minutes: 15
    conditions:
      - condition: numeric_state
        entity_id: sensor.hobbybord_afbryder_forbrug
        above: 0.05 # kW
    actions:
      - action: script.notify_everywhere
        data:
          message: "Loddekolben eller andet er muligvis tændt på hobbybordet. Husk at slukke for strømmen."

  - alias: workshop_desk_power_off
    id: cbb52f2f-38f4-4131-b561-79b269a8dfe4
    initial_state: true
    triggers:
      - trigger: state
        entity_id: binary_sensor.workshop_activity
        to: "off"
        for:
          minutes: 30
    actions:
      - action: switch.turn_off
        data:
          entity_id: switch.hobbybord_afbryder
