*.pid
*.xml
*.csr
*.crt
*.key
*.pyc
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
lib
deps
tts
config
haaska
secrets.yaml
known_devices.yaml
google_calendars.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
zwcfg_*.xml
zwscene.xml
options.xml
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
feedreader.pickle
/podcasts/*
/templates/*
emulated_hue_ids.json
__pycache__/
*.py[cod]
*$py.class
entity_registry.yaml
packages/zones.yaml
core
notebooks/
appdaemon/appdaemon.yaml
www/wifi.png
www/downloads