*.pid
*.xml
*.csr
*.crt
*.key
*.pyc
id_rsa
id_rsa.pub
OZW_Log.txt
home-assistant.log*
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
lib
deps
tts
config
haaska
secrets.yaml
known_devices.yaml
google_calendars.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
zwcfg_*.xml
zwscene.xml
options.xml
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
feedreader.pickle
/podcasts/*
/templates/*
emulated_hue_ids.json
__pycache__/
*.py[cod]
*$py.class
entity_registry.yaml
packages/zones.yaml
packages/personal/*
lovelace/personal/*
lovelace-personal.yaml
core
notebooks/
appdaemon/appdaemon.yaml
www/wifi.png
www/downloads
www/community
www/custom_lovelace
www/media
www/camera
bluetooth_trackers.yaml
custom_components/*
googlecloud.json
grocy/
bbconfig/
android/

music_assistant.db

testbild.png
ssocr-*.png

node-red/
rtsp2webrtc_*
go2rtc-*

*.http
ssh/*
openvpn/*
addons_autoscripts/*
addons_config/*

*-credentials.txt

ui_lovelace_minimalist/*