http_password:
mosquitto_password:
db_url:

appdaemon_token:

wunderground_key:
darksky_api_key:
waqi_token:
influxdb_password:
tradfri_api_key:
owntracks_secret:
ifttt_key:

pocketcasts_username:
pocketcasts_password:

google_calendar_id:
google_calendar_secret:

google_directions_secret:

google_assistant_project_id:
google_assistant_client_id:
google_assistant_access_token: 
google_assistant_agent_user_id:
google_assistant_api_key:

google_dv_user:
google_dv_pass:

spotify_id:
spotify_secret:

home_latitude:
home_longitude:

work_latitude:
work_longitude:
work_address:

citymapper_key:

ssl_cert_path:
ssl_key_path:
base_url:

dominos_url:

steam_api_key:
discord_token:
discord_server_id:

grafana_url:
pihole_url:

hue_office_remote_url:
hue_bedroom_remote_url:
hue_token:

# https://joinjoaomgcd.appspot.com/
join_api_key:
join_device_id_phone:
join_device_id_mac:
join_device_id_work:
join_device_id_windows:
join_device_id_tablet:
join_device_id_xperia:
join_device_id_fire_tablet:
join_device_id_nexus:

dash_password:
ha_key:

myskoda_email:
myskoda_password:

s_tog_icon_url:

LGwebOSTV_MAC:
