http_password: PASSWORD
mosquitto_password: PASSWORD
db_url: "mysql://hass:PASSWORD@core-mariadb/homeassistant"

wunderground_key: KEY
darksky_api_key: KEY
waqi_token: TOKEN
join_api_key: KEY
influxdb_password: PASSWORD
tradfri_api_key: KEY
owntracks_secret: SECRET
ifttt_key: KEY

google_id: ID
google_secret: SECRET
google_directions_secret: SECRET

spotify_id: ID
spotify_secret: SECRET

home_latitude: LAT
home_longitude: LON
work_address: ADDRESS

dominos_url: http://www.dominos.dk/async/tracker/?q=PHONE

steam_api_key: KEY
