{%- macro event_match(event, regex) -%}
    {{
        event.get('summary', '')|regex_findall(regex, true) |length > 0 or
        event.get('description', '')|regex_findall(regex, true) |length > 0 or
        event.get('location', '')|regex_findall(regex, true) |length > 0
    }}
{%- endmacro -%}

{%- macro event_match_any(event, regexes) -%}
    {%- for regex in regexes -%}
        {%- if bool(event_match(event, regex), false) -%}
            true
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{% macro work_event_summary(event, regexes) -%}
    {%- if bool(event_match(event, regexes.get('rsr', '')), false) -%}
        Arbejde - Rigshospitalet
    {%- elif bool(event_match(event, regexes.get('rsh', '')), false) -%}
        Arbejde - Herlev Hospital
    {%- elif bool(event_match(event, regexes.get('vagt', '')), false) -%}
        Tilkaldevagt
    {%- elif bool(event_match(event, regexes.get('off_site', '')), false) -%}
        {%- set subject = (' - ' + event.description if event.description else '') -%}
        Ude af huset {{ subject }}
    {%- else -%}
        {{ event.summary }}
    {%- endif -%}
{% endmacro  %}

{% macro agenda_event(calendar, event, regexes, bool_attrs={}) -%}
    {
        "calendar": "{{ calendar }}",
        "start": "{{ (event.get('start', '') | as_datetime).strftime('%Y-%m-%d %H:%M:%S') }}",
        "end": "{{ (event.get('end', '') | as_datetime).strftime('%Y-%m-%d %H:%M:%S') }}",
        "location": {{ event.get('location', '') | to_json }},
        "description": {{ event.get('description', '') | to_json }},
        {% for attr in bool_attrs -%}
        "{{ attr }}": {{ 'true' if bool(event_match_any(event, bool_attrs[attr]), false) else 'false' }},
        {% endfor -%}
        "summary": {{ work_event_summary(event, regexes) | replace(' #bil', '') | to_json }}
    }
{% endmacro -%}
