{%- macro first_non_empty_string(input) -%}
    {#-
    Returns the first non-empty string in a list or tuple.
    Args:
        input (str | list | tuple): The input to check.
    Returns:
        str: The first non-empty string in the input.
    -#}
    {%- if input is string -%}
        {{ input }}
    {%- elif input is list or input is tuple  -%}
        {%- for item in input -%}
            {%- set ns = namespace(value=item) -%}
            {%- if item is list or item is tuple -%}
                {%- set ns.value = first_non_empty_string(item) -%}
            {%- endif -%}
            {%- if ns.value is string -%}
                {{ ns.value }}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}


{%- macro event_match(event, regex_dict) -%}
    {#-
    Checks if any of the event fields match the regex provided in regex_dict.
    Args:
        event (dict): The event to check.
        regex_dict (str | dict): Either a string with the regex to match against, or a dictionary with the following keys:
            - regex (str): The regex to match against.
            - negate (bool): If true, the function will return true if the regex does not match.
    -#}
    {% set ns = namespace(regex=regex_dict, negate=false) %}
    {%- if regex_dict is mapping -%}
        {%- set ns.regex = regex_dict.get('regex', '') -%}
        {%- set ns.negate = bool(regex_dict.get('negate', false), false) -%}
    {%- endif -%}
    {%- set match = (
        event.get('summary', '')|regex_findall(ns.regex, true) |length > 0 or
        event.get('description', '')|regex_findall(ns.regex, true) |length > 0 or
        event.get('location', '')|regex_findall(ns.regex, true) |length > 0
    ) -%}
    {{ ns.negate != match }}
{%- endmacro -%}

{%- macro event_match_any(event, regexes) -%}
    {%- for regex in regexes -%}
        {%- if bool(event_match(event, regex), false) -%}
            true
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{% macro work_event_summary(event, regexes, calendar) -%}
    {%- if calendar == 'Arbejdskalender' -%}
        {{ event.summary }}
    {%- elif bool(event_match(event, regexes.get('rsr', '')), false) -%}
        Arbejde - Rigshospitalet
    {%- elif bool(event_match(event, regexes.get('rsh', '')), false) -%}
        Arbejde - Herlev Hospital
    {%- elif bool(event_match(event, regexes.get('vagt', '')), false) -%}
        Tilkaldevagt
    {%- elif bool(event_match(event, regexes.get('off_site', '')), false) -%}
        {%- set subject = (' - ' + event.description if event.description else '') -%}
        Ude af huset {{ subject }}
    {%- else -%}
        {{ event.summary }}
    {%- endif -%}
{% endmacro  %}

{% macro agenda_event(calendar, event, regexes, bool_attrs={}, attrs={}) -%}
    {%- set start = (event.get('start', '') or '') | as_datetime -%}
    {%- set end = (event.get('end', '') or '') | as_datetime -%}
    {%- set duration = (end - start).total_seconds() -%}
    {
        "calendar": "{{ calendar }}",
        "start": "{{ start.strftime('%Y-%m-%d %H:%M:%S') }}",
        "end": "{{ end.strftime('%Y-%m-%d %H:%M:%S') }}",
        "duration": {{ (end - start).total_seconds() }},
        "location": {{ (event.get('location', '') or '') | to_json }},
        "description": {{ (event.get('description', '') or '') | to_json }},
        "all_day": {{ 'true' if duration >= 86400 and start.strftime('%H:%M:%S') == '00:00:00' and end.strftime('%H:%M:%S') == '00:00:00' else 'false' }},
        "multi_day": {{ 'true' if duration > 86400 else 'false' }},
        "current": {{ 'true' if start <= now() and end >= now() else 'false' }},
        {% for attr in bool_attrs -%}
        "{{ attr }}": {{ 'true' if bool(event_match_any(event, bool_attrs[attr]), false) else 'false' }},
        {% endfor -%}
        {% for attr in attrs -%}
        "{{ attr }}": {{ first_non_empty_string((event.get('description', '') or '') | regex_findall(attrs[attr], true)) | to_json }},
        {% endfor -%}
        "summary": {{ work_event_summary(event, regexes, calendar) | to_json }}
    }
{% endmacro -%}

{%- macro agenda_events(all_events, calendar_entity, calendar_name, regexes, bool_attrs={}, attrs={}) -%}
    {% set ns = namespace(ret=[]) %}
    {% for event in all_events[calendar_entity].events | sort(attribute='start') | list -%}
        {% set ns.ret = ns.ret + [agenda_event(calendar_name, event, regexes, bool_attrs, attrs)|from_json] %}
    {%- endfor -%}
    {{ ns.ret }}
{%- endmacro -%}

{%- macro current_events(events, time, selector=none, test='true') -%}
    {%- set events = (events if not selector else (events | selectattr(selector, test))) | list -%}
    {%- if not events or events | length == 0 -%}
        []
    {%- else -%}
        {{-
            events
            | selectattr('start', 'le', time)
            | selectattr('end', 'gt', time)
            | list
            | to_json
        -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro agenda(events, time, selector=none, test='true') -%}
    {%- set events = (events if not selector else (events | selectattr(selector, test))) | list -%}
    {%- if not events or events | length == 0 -%}
        []
    {%- else -%}
        {{-
            events
            | selectattr('end', 'gt', time)
            | list
            | to_json
        -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro coming_events(events, time, selector=none, test='true') -%}
    {%- set events = (events if not selector else (events | selectattr(selector, test))) | list -%}
    {% if not events or events | length == 0 %}
        []
    {% else %}
        {{-
            events
            | selectattr('start', 'gt', time)
            | list
            | to_json
        -}}
    {% endif %}
{%- endmacro -%}

{%- macro filter_work_events_to_schedule(events) -%}
    {#- Remove all events that isn't scheduled within an event with "vagtskema" == true -#}
    {%- set vagtskema_events = events | selectattr('vagtskema', 'equalto', true) | list -%}
    {%- set ns = namespace(output = [], i_vagt=false) -%}
    {%- for event in events -%}
        {%- set ns.i_vagt = false -%}
        {%- for vagt_event in vagtskema_events -%}
            {%- if event.start >= vagt_event.start and event.end <= vagt_event.end -%}
                {%- set ns.i_vagt = true -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if ns.i_vagt -%}
            {%- set ns.output = ns.output + [event] -%}
        {%- endif -%}
    {%- endfor -%}
    {{ ns.output | list | to_json }}
{%- endmacro -%}

{%- macro gather_events(entity_ids, attribute='agenda') -%}
    {%- set ns = namespace(events=[]) -%}
    {%- for entity_id in entity_ids -%}
        {%- set entity = states[entity_id] -%}
        {%- if entity.attributes[attribute] is defined and entity.attributes[attribute] is list -%}
            {%- set ns.events = ns.events + entity.attributes[attribute] -%}
        {%- endif -%}
    {%- endfor -%}
    {{
        ns.events
        | sort(attribute='duration', reverse=true)
        | sort(attribute='start')
        | list
    }}
{%- endmacro -%}
