{%- macro datetime_diff(t1, t2, format='%Y-%m-%d %H:%M:%S') -%}
    {%- set datetime1 = as_datetime(t1)|as_timestamp|timestamp_custom(format, true) -%}
    {%- set parts1 = datetime1.split(' ') -%}
    {%- set date1 = parts1[0].split('-') -%}
    {%- set time1 = parts1[1].split(':') -%}

    {%- set datetime2 = as_datetime(t2)|as_timestamp|timestamp_custom(format, true) -%}
    {%- set parts2 = datetime2.split(' ') -%}
    {%- set date2 = parts2[0].split('-') -%}
    {%- set time2 = parts2[1].split(':') -%}

    {%- set ns = namespace(differing_parts=[]) -%}

    {%- for i in range(date1 | length) -%}
        {%- if date1[i] != date2[i] -%}
            {%- set ns.differing_parts = ns.differing_parts + ['-'.join(date2[i:])] -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
    
    {%- if ns.differing_parts | length > 0 -%}
        {%- set ns.differing_parts = ns.differing_parts + [':'.join(time2)] -%}
    {%- else -%}
        {%- for i in range(time1 | length) -%}
            {%- if time1[i] != time2[i] -%}
                {%- set ns.differing_parts = ns.differing_parts + [':'.join(time2[i:])] -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {{ ns.differing_parts | join(' ') }}
{%- endmacro -%}

{%- macro split_seconds(input) -%}
    {%- set value = input|int(0) -%}
    {%- set abs_value = value if value >= 0 else -value -%}
    {%- set days = (abs_value // 86400) -%}
    {%- set hours = (abs_value % 86400) // 3600 -%}
    {%- set minutes = (abs_value % 3600) // 60 -%}
    {%- set seconds = abs_value % 60 -%}
    {{
        {
        'days': days if value >= 0 else -days,
        'hours': hours if value >= 0 else -hours,
        'minutes': minutes if value >= 0 else -minutes,
        'seconds': seconds if value >= 0 else -seconds
        } | to_json
    }}
{%- endmacro -%}

{%- macro format_seconds(input) -%}
    {%- set labels = {'days': 'd', 'hours': 't', 'minutes': 'm', 'seconds': 's'} -%}
    {%- set v = split_seconds(input|int(0))|from_json -%}
    {%- set ns = namespace(ret=[],noskip=false) -%}
    {%- for key in labels.keys() -%}
        {%- if ns.noskip or v[key] > 0 -%}
            {%- set ns.noskip = true -%}
            {%- set ns.ret = ns.ret + [v[key] ~ labels[key]] -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if ns.ret | length == 0 -%}
        0s
    {%- else -%}
        {{ ns.ret | join(' ') }}
    {%- endif -%}
{%- endmacro -%}
