{%- macro power_price_group(p, current_start, last_end, current_values) -%}
{%- from 'easy_time.jinja' import weekday -%}
{%- from 'utils.jinja' import pad_number -%}

{%- set start_timestamp = current_start|as_timestamp -%}
{%- set start_dow = weekday(start_timestamp|timestamp_custom('%w', true)|int, 'da') -%}
{%- set human_start = start_dow + ' ' + (start_timestamp|timestamp_custom('%H:%M', true)) -%}

{%- set end_timestamp = last_end|as_timestamp -%}
{%- set end_dow = weekday(end_timestamp|timestamp_custom('%w', true)|int, 'da') -%}
{%- set human_end = end_dow + ' ' + (end_timestamp|timestamp_custom('%H:%M', true)) -%}

{%- set until = (current_start|as_datetime - now()).total_seconds()|int -%}
{%- set hours_until = (until / 3600)|int -%}
{%- set minutes_until = (until / 60)|int -%}
{%- set days_until = (hours_until/24)|int -%}

{%- set human_hours_until = (hours_until - (days_until*24))|int -%}
{%- set human_minutes_until = (minutes_until - (hours_until*60))|int -%}
{%- set human_readable_until = (
    (days_until|string+'d ' if days_until > 0 else '')
    + ((human_hours_until|string)+'t ' if human_hours_until > 0 else '')
    + ((human_minutes_until|string)+'m')
) if until > 0 else 'Nu' -%}

{%- set min_value = current_values | min -%}
{%- set max_value = current_values | max -%}
{%- set avg_value = ((current_values | sum) / (current_values | length)) -%}

{{ {
    'start': current_start,
    'end': last_end,
    'time_diff': human_start + ' > ' + (human_end | replace(start_dow, '')),
    'hours': (current_values | length),
    'days_until': days_until,
    'hours_until': hours_until,
    'minutes_until': minutes_until,
    'human_readable_until': human_readable_until,
    'min': min_value,
    'max': max_value,
    'avg': avg_value,
    'min_human': pad_number(min_value, 3),
    'max_human': pad_number(max_value, 3),
    'avg_human': pad_number(avg_value, 3)
} | to_json }}
{%- endmacro -%}

{%- macro group_power_prices(p) -%}
{%- set ns = namespace(
    current_start='',
    last_end='',
    current_values=[],
    groups=[]
) -%}
{%- if not p or p is not list -%}
    unknown
{%- else -%}
    {%- for price in p -%}
        {%- if ns.current_start == '' -%}
            {%- set ns.current_start = price['start'] -%}
            {%- set ns.current_values = [price['value']] -%}
        {%- elif ns.last_end == price['start'] -%}
            {%- set ns.current_values = ns.current_values + [price['value']] -%}
        {%- elif ns.last_end|as_datetime < now()|as_datetime -%}
            {%- set ns.current_start = price['start'] -%}
            {%- set ns.current_values = [price['value']] -%}
        {%- else -%}
            {%- set ns.groups = ns.groups + [power_price_group(p, ns.current_start, ns.last_end, ns.current_values) | from_json] -%}
            {%- set ns.current_start = price['start'] -%}
            {%- set ns.current_values = [price['value']] -%}
        {%- endif -%}
        {%- set ns.last_end = price['end'] -%}
    {%- endfor -%}
    {%- set ns.groups = ns.groups + [power_price_group(p, ns.current_start, ns.last_end, ns.current_values) | from_json] -%}
    {{ ns.groups }}
{%- endif -%}
{%- endmacro -%}
