{%- macro power_price_group(p, current_start, last_end, current_values) -%}
{%- from 'easy_time.jinja' import weekday -%}
{%- from 'datediff.jinja' import split_seconds, format_seconds -%}
{%- from 'utils.jinja' import pad_number -%}

{%- set start_timestamp = current_start|as_timestamp -%}
{%- set next_week = (start_timestamp-(now()|as_timestamp) > 518400) -%}
{%- set start_dow = ('N.' if next_week else '') + weekday((start_timestamp|as_datetime).weekday(), 'da') -%}
{%- set start_time = (start_timestamp|timestamp_custom('%H:%M', true)) -%}
{%- set human_start = start_dow + ' ' + start_time -%}

{%- set end_timestamp = last_end|as_timestamp -%}
{%- set end_dow = ('N.' if next_week else '') + weekday((end_timestamp|as_datetime).weekday(), 'da') -%}
{%- set end_time = (end_timestamp|timestamp_custom('%H:%M', true)) -%}
{%- set human_end = end_dow + ' ' + end_time -%}

{%- set seconds_until = (current_start|as_datetime - now()).total_seconds()|int -%}
{%- set until = split_seconds(seconds_until)|from_json -%}
{%- set human_readable_until = format_seconds(seconds_until) if seconds_until > 0 else 'Nu' -%}

{%- set min_value = current_values | min -%}
{%- set max_value = current_values | max -%}
{%- set avg_value = ((current_values | sum) / (current_values | length)) -%}

{{ {
    'start': current_start,
    'end': last_end,
    'time_diff': human_start + ' > ' + (human_end | replace(start_dow, '')),
    'segments': (current_values | length),
    'hours': (current_start - last_end).hours,
    'days_until': until.days,
    'hours_until': until.hours,
    'minutes_until': until.minutes,
    'human_readable_until': human_readable_until,
    'min': min_value,
    'max': max_value,
    'avg': avg_value,
    'min_human': pad_number(min_value, 3),
    'max_human': pad_number(max_value, 3),
    'avg_human': pad_number(avg_value, 3)
} | to_json }}
{%- endmacro -%}

{%- macro group_power_prices(p) -%}
{%- set ns = namespace(

    current_start='',
    last_end='',
    current_values=[],
    groups=[]
) -%}
{%- if not p or p is not list -%}
    unknown
{%- else -%}
    {%- for price in p -%}
        {%- if ns.current_start == '' -%}
            {%- set ns.current_start = price['start'] -%}
            {%- set ns.current_values = [price['value']] -%}
        {%- elif ns.last_end == price['start'] -%}
            {%- set ns.current_values = ns.current_values + [price['value']] -%}
        {%- elif ns.last_end|as_datetime < now()|as_datetime -%}
            {%- set ns.current_start = price['start'] -%}
            {%- set ns.current_values = [price['value']] -%}
        {%- else -%}
            {%- set ns.groups = ns.groups + [power_price_group(p, ns.current_start, ns.last_end, ns.current_values) | from_json] -%}
            {%- set ns.current_start = price['start'] -%}
            {%- set ns.current_values = [price['value']] -%}
        {%- endif -%}
        {%- set ns.last_end = price['end'] -%}
    {%- endfor -%}
    {%- set ns.groups = ns.groups + [power_price_group(p, ns.current_start, ns.last_end, ns.current_values) | from_json] -%}
    {{ ns.groups }}
{%- endif -%}
{%- endmacro -%}
